html {
  background-color: #F0F6F6;
  color: black !important;
}

body {
  width: 80%;
  margin: auto;
  font-family: 'Space Mono';
}

h1, h2 {
}

#grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "foot";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding: 0 2rem;
  margin: 2rem auto;
  width: 80%;
}

#grid-container * {
  border-radius: .25rem;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.nav * {
  padding: 1rem;
}

.nav,
.nav li,
.nav li h1,
.nav li h1 a {
  padding-left: 0 !important;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: black;
  text-decoration: none;
  border: 3px solid #F0F6F6;
}

#nav-left {
  display: flex;
  flex-direction: row;
  padding-right: 0 !important;
}

.nav li a:hover:not(#home) {
  text-decoration: underline;
  text-decoration-color: #3E92CC;
  text-decoration-thickness: 3px;
}

#home:hover {
  text-decoration: underline;
  text-decoration-color: #3E92CC;
  text-decoration-thickness: 3px;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

#main-content {
  grid-area: main;
}

#foot {
  grid-area: foot;
  margin-bottom: 1rem;
}

table {
  display: table;
  border-spacing: 1rem;
}

td {
  border: 1px solid;
  padding: 1rem;
}

.portfolio {
  display: grid;
  grid-template-areas:
    "project1 project2"
    "project3 .";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.project:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project img {
  width: 100%;
}

.courses {
  display: grid;
  grid-template-areas:
    "course1 course2"
    "course3 course4"
    "course5 .";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.course {
  border: 3px solid #44A1A0; 
  border-radius: 5%;
  text-align: center;
  padding: .5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.course1 {
  grid-area: course1;
}

.course2 {
  grid-area: course2;
}

.course3 {
  grid-area: course3;
}

.course4 {
  grid-area: course4;
}

.course5 {
  grid-area: course5;
}

.library {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.book img {
  width: 100%;
}

.book {
  width: 31%;
  transition: transform .2s;
}

.book:hover {
  transform: scale(1.05);
}

#subtitle {
  padding: 2rem 0 8rem 0;
  text-align: justify;
}

svg {
  width: 5rem;
  display: block;
  margin: auto;
}

svg:hover {
  opacity: 50%;
}

.logo {
  position: relative;
  width: fit-content;
}

#svg-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo > span {
  visibility: hidden;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  padding: 2px 4px;
  margin-top: .5rem;
}

.logo:hover > span {
  visibility: visible;
  /*position: absolute;
  display: inline;
  top: 30%;
  left: calc(50% - 25%);*/
  background-color: black;
  color: white;
  border-radius: 0px !important;
}

.post-card {
  border: 3px solid #44A1A0; 
  padding: .25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 1rem 0;
  transition: background-color .25s;
  border-radius: 0px !important;
}

.post-card:hover {
  background-color: white;
  border-color: #52B7B5;
}

.post-card a {
  color: black;
  text-decoration: none;

}
.post-card a:hover {
  text-decoration: underline;
  text-decoration-color: #3E92CC;
  text-decoration-thickness: 2px;
}
