html {
  background-color: slategray;
  color: lightgray;
}

body {
  width: 85%;
  margin: auto;
  font-family: 'Space Mono';
}

h1, h2 {
  color: white;
}

/* #diag-border {
  border: 1px solid black;
  position: relative;
  transform: rotate(2deg);

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid lightgray;
    transform: rotate(-4deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 2px solid green;
    transform: rotate(-2deg);
  }
} */

#grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "foot";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  padding: 0 2rem;
  margin: 2rem auto;
  width: 80%;
}

#grid-container * {
  border-radius: 10px;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.nav * {
  padding: 1rem;
}

.nav,
.nav li,
.nav li h1,
.nav li h1 a {
  padding-left: 0 !important;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: white;
  text-decoration: none;
}

#nav-left {
  display: flex;
  flex-direction: row;
  padding-right: 0 !important;
}

.nav li a:hover:not(#home) {
  color: darkgreen;
  background-color: white;
}

#home:hover {
  text-decoration: underline;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

#main-content {
  grid-area: main;
}

#foot {
  grid-area: foot;
  margin-bottom: 1rem;
}

table {
  display: table;
  border-spacing: 1rem;
}

td {
  border: 1px solid;
  padding: 1rem;
}

.portfolio {
  display: grid;
  grid-template-areas:
    "project1 project2"
    "project3 .";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project {
  border: 1px solid black;
  border-radius: 5%;
}

.project1 {
  grid-area: project1;
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.library {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.book img {
  width: 100%;
}

.book {
  width: 31%;
  transition: transform .2s;
}

.book:hover {
  transform: scale(1.05);
}

#subtitle {
  padding: 2rem 0 8rem 0;
  text-align: justify;
}

svg {
  width: 5rem;
  display: block;
  margin: auto;
}

svg:hover {
  opacity: 50%;
}

.logo {
  position: relative;
  width: fit-content;
}

#svg-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo > span {
  visibility: hidden;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  padding: 2px 4px;
  margin-top: .5rem;
}

.logo:hover > span {
  visibility: visible;
  /*position: absolute;
  display: inline;
  top: 30%;
  left: calc(50% - 25%);*/
  background-color: black;
  color: white;
  border-radius: 0px !important;
}
