html {
  background-color: rgb(232, 239, 231);
}

body {
  width: 65%;
  margin: auto;
  font-family: 'Space Mono';
}

#grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "foot";
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

#grid-container * {
  border-radius: 10px;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
  font-weight: bold;
  align-items: center;
}
 .nav * {
  padding: 1rem;
 }

 .nav,
 .nav li,
 .nav li h1,
 .nav li h1 a {
  padding-left: 0 !important;
 }

.nav li {
  list-style: none;
}
.nav li a {
  color: black;
  text-decoration: none;
}

.nav li a:hover:not(#home) {
  color: darkgreen;
  background-color: white;
}
#home:hover {
  text-decoration: underline;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}

#main-content {
  grid-area: main;
}

#foot {
  grid-area: foot;
  margin-bottom: 1rem;
}

table {
  display: table;
  border-spacing: 1rem;
}

td {
  border: 1px solid;
  padding: 1rem;
}

.portfolio {
  display: grid;
  grid-template-areas:
    "project1 project2"
    "project3 .";
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project {
  border: 1px solid black;
  border-radius: 5%;
}

.project1 {
  grid-area: project1;
}
.project2 {
  grid-area: project2;
}
.project3 {
  grid-area: project3;
}

.library {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.book img {
  width: 100%;
}

.book {
  width: 31%;
  transition: transform .2s;
}

.book:hover {
  transform: scale(1.05);
}